<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>tpo_2014_web</display-name>
	
	<welcome-file-list>
		<welcome-file>/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>BuscarFacturasServlet</servlet-name>
		<servlet-class>svlt.BuscarFacturasServlet</servlet-class>
	</servlet><servlet>
		<servlet-name>BuscarOPServlet</servlet-name>
		<servlet-class>svlt.BuscarOPServlet</servlet-class>
	</servlet><servlet>
		<servlet-name>BuscarRemitoServlet</servlet-name>
		<servlet-class>svlt.BuscarRemitoServlet</servlet-class>
	</servlet><servlet>
		<servlet-name>confirmarCotizacion</servlet-name>
		<servlet-class>svlt.confirmarCotizacion</servlet-class>
	</servlet><servlet>
		<servlet-name>crearOCompras</servlet-name>
		<servlet-class>svlt.crearOCompras</servlet-class>
	</servlet><servlet>
		<servlet-name>facturar</servlet-name>
		<servlet-class>svlt.facturar</servlet-class>
	</servlet>
	<servlet>
	<servlet-name>ingresarSolicitudCot</servlet-name>
		<servlet-class>svlt.ingresarSolicitudCot</servlet-class>
	</servlet><servlet>
		<servlet-name>recepcionarMercaderia</servlet-name>
		<servlet-class>svlt.recepcionarMercaderia</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>BuscarFacturasServlet</servlet-name>
		<url-pattern>/jsp/BuscarFacturas.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>BuscarOPServlet</servlet-name>
		<url-pattern>/jsp/BuscarOP.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>BuscarRemitoServlet</servlet-name>
		<url-pattern>/jsp/BuscarRemitos.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>confirmarCotizacion</servlet-name>
		<url-pattern>/jsp/cnfCot.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>crearOCompras</servlet-name>
		<url-pattern>/jsp/crearOC.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>facturar</servlet-name>
		<url-pattern>/jsp/facturar.do</url-pattern>
	</servlet-mapping><servlet-mapping>
		<servlet-name>ingresarSolicitudCot</servlet-name>
		<url-pattern>/jsp/ingSolCot.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>recepcionarMercaderia</servlet-name>
		<url-pattern>/jsp/recMerc.do</url-pattern>
	</servlet-mapping>
	


</web-app>